<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3d4352">
    <div class="container">
        <a class="navbar-brand" href="#">InnovateTech Solutions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #3d4352">
                        <a class="dropdown-item" href="/about">Quiénes somos</a>
                        <a class="dropdown-item" href="/mision">Misión</a>
                        <a class="dropdown-item" href="/vision">Visión</a>
                    </ul>
                </li>
                <a class="nav-link" href="/services">Servicios</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>