<footer>
  <h1>Lorem ipsum dolor</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas asperiores
    repudiandae, suscipit eos, dolore itaque eum optio recusandae voluptatum
    deleniti iure fugit cumque possimus, alias culpa eligendi magnam id at?
  </p>
</footer>
