<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <section>
        <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis enim libero ab magnam ullam nesciunt tempore temporibus dicta optio dolor beatae fuga, ipsam sunt accusantium recusandae reiciendis officia? Rem, dolorum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempora, laborum qui nam voluptatem, aut tenetur error dolores distinctio corporis magnam alias architecto consequatur eum laudantium consectetur! Dolorem, labore quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam vero cum suscipit, doloribus dolorum iusto aspernatur dolores voluptates numquam quas repellat rerum velit corporis illo blanditiis eos obcaecati cupiditate!</p>
            </div>
        </main>
    </section>
    <%- include ('partials/footer.ejs') %>
</body>
</html>