<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <section>
        <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1>Quiénes somos</h1>
                <p class="w-75">
                    Somos InnovateTech Solutions, una empresa líder en soluciones
                    tecnológicas innovadoras. Nuestro equipo está compuesto por expertos apasionados por
                    la tecnología, comprometidos en ofrecer resultados excepcionales a nuestros clientes.
                    Nos enfocamos en impulsar el crecimiento y la transformación digital de las empresas a
                    través de soluciones personalizadas y vanguardistas. Con una combinación de
                    experiencia y creatividad, estamos listos para ayudarte a alcanzar tus objetivos
                    tecnológicos y destacar en un mundo digital en constante evolución.
                </p>
                <div class="d-flex gap-5">
                    <a href="/mision" class="btn btn-primary">Misión</a>
                    <a href="/vision" class="btn btn-primary">Visión</a>
                </div>
            </div>
        </main>
    </section>
    <%- include ('partials/footer.ejs') %>
</body>
</html>